.buttons-container {
  position: relative;
  width: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.nav-circle {
  position: relative;
  width: 60px;
  height: 60px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  justify-content: flex-end; /* Icon stays to the right */
  align-items: center;
  background-color: orange;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s, color 0.5s, width 0.5s, height 0.5s, border-radius 0.5s;
}

.icon {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  margin-right: 19px; /* Add some space between icon and text */
}

.text {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  pointer-events: none;
  opacity: 0; /* Hide the text by default */
}

.nav-circle:hover {
  width: 170px;
  height: 60px;
  border-radius: 40px;
  transform: translateX(-30%);
}

.nav-circle:hover .text {
  left: 10%;
  opacity: 1; /* Show the text on hover */
}







