/* portfolio.css */
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container takes up at least the viewport height */
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.project-item {
  display: flex;
  align-items: center;
  padding: 40px;
}

.project-item img {
  margin-right: 10px; /* Adjust the spacing between image and text */
}


